// common

* {
  font-family: serif;
}










// header.php

.navbar-default {
    background-color: #E62565!important;
    border-color: transparent!important;
    border-radius: 0!important;
}

.navbar-brand {
    color: #fff!important;
    font-size: 30px!important;
    letter-spacing: 1px;

}



.navbar {
    margin-bottom: 0px!important;
}



.navbar-default .navbar-nav{

li {

a {
    color: #fff!important;
    letter-spacing: 1px;
    font-size: 15px;
  }

}

}

// .top-img

.top-img {
  position: relative;;
  img {
    width: 100%;
  }

  h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    font-size: 80px;

  small {

    font-size: 14px!important;
    margin-left: 47px;
}
  }
}



// contact

.contact-main {
  background: #CCCCCC;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;

  h2 {
    color: #666;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 38px;
  }

  label {
    text-align: left;
    color: #666;
  }


button, input, select, textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      margin-top: 10px;
  }

  .contact-p {
    color: #666;
    margin-bottom: 60px;
  }




}









// footer.php

footer {
  background: #E62565;
  text-align: center;
  padding: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
}
