/* line 3, style.scss */
* {
  font-family: serif; }

/* line 18, style.scss */
.navbar-default {
  background-color: #E62565 !important;
  border-color: transparent !important;
  border-radius: 0 !important; }

/* line 24, style.scss */
.navbar-brand {
  color: #fff !important;
  font-size: 30px !important;
  letter-spacing: 1px; }

/* line 33, style.scss */
.navbar {
  margin-bottom: 0px !important; }

/* line 43, style.scss */
.navbar-default .navbar-nav li a {
  color: #fff !important;
  letter-spacing: 1px;
  font-size: 15px; }

/* line 55, style.scss */
.top-img {
  position: relative; }
  /* line 57, style.scss */
  .top-img img {
    width: 100%; }
  /* line 61, style.scss */
  .top-img h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    font-size: 80px; }
    /* line 68, style.scss */
    .top-img h2 small {
      font-size: 14px !important;
      margin-left: 47px; }

/* line 80, style.scss */
.contact-main {
  background: #CCCCCC;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 50px; }
  /* line 87, style.scss */
  .contact-main h2 {
    color: #666;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 38px; }
  /* line 94, style.scss */
  .contact-main label {
    text-align: left;
    color: #666; }
  /* line 100, style.scss */
  .contact-main button, .contact-main input, .contact-main select, .contact-main textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 10px; }
  /* line 107, style.scss */
  .contact-main .contact-p {
    color: #666;
    margin-bottom: 60px; }

/* line 127, style.scss */
footer {
  background: #E62565;
  text-align: center;
  padding: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px; }
